.marpad {
    padding-left: 30px; 
    padding-top: 5px;
}

.postBlock {
    padding: 30px;
    margin-top: 15px;
}

.textarea {
    width: 600px;
    height: 70px;
    margin-top: 20px;
    border-radius: 10px;
}

.buttonStyle {
    width: 90px;
    height: 50px;
    margin-top: 20px;
    border-color: rgb(7, 219, 166);
    border-radius: 10px;
    background-color: purple;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
}

.buttonStyle:hover {
    background-color: rgb(7, 219, 166);
    color: purple;
    border-color: purple;
}