.dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;
    padding: 15px;
}

.dialogsItems {
    padding: 10px;
    border-right: 3px solid rgb(7, 219, 166);
}

.dialog {
    padding: 15px;
}

.dialogsItems .active {
    color: purple;
}

.messages {
    padding: 10px;
}

.dialogs img {
    width: 50px;
    height: 50px;
    border-radius: 40px
}

.textarea {
    width: 600px;
    height: 70px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

.buttonStyle {
    width: 90px;
    height: 50px;
    margin-left: 10px;
    margin-top: 20px;
    border-color: rgb(7, 219, 166);
    border-radius: 10px;
    background-color: purple;
    color: white;
}

.buttonStyle:hover {
    background-color: rgb(7, 219, 166);
    color: purple;
    border-color: purple;
}