.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 15px;
}

.dialogsItems {
    padding: 10px;
}

.dialog {
    padding: 15px;
}

.dialogsItems .active {
    color: purple;
}

.messages {
    padding: 10px;
}

.message {}


