.messages {
    padding: 10px;
}

.active {
    color: blue;
}

.message {
    color: rebeccapurple;
}

.messages img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 20px;
}

